::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(200, 200, 200, 0.4);
    opacity: 0;   
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(180,180,180, 0.7)
}

::-webkit-scrollbar-track {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0)
}





/* VIOLATION MONITORING STYLES */
.vmVehicle {
    font-size: 11.25px;
    color: rgb(70, 70, 70);
    font-weight: 400;
    /* border: 1px solid black; */
}

.vmNp {
    font-size: 12px;
    color: rgb(70, 70, 70);
    opacity: 0.8;
    font-weight: 300;
    /* border: 1px solid black; */
}

.vmViolation {
    font-size: 11.25px;
    color: rgb(70, 70, 70);
    font-weight: 700;
    /* border: 1px solid black; */
}

.listItemContainer {
    border-top: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);

    padding-right: 0.375vh;
    padding-left: 0.75vh;
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
    display: flex;
    /* grid-template-columns: 10px 100px 150px 250px;  */
    justify-content: space-between;
    text-align: start;
    align-items: center;
    width: 100%;

}

.listItemContainer:hover{
    background-color: rgb(230,230,230);
}

.vmh2 {
    border-bottom: 1px solid rgb(230, 230, 230);
}

.violationBox {
    scrollbar-color: auto;
    scrollbar-width: auto;
}

.violationBox::-webkit-scrollbar {
    width: 10px;
}

.violationBox::-webkit-scrollbar-thumb {
    background: rgba(200, 200, 200, 0.4);
    opacity: 0;   
}

.violationBox::-webkit-scrollbar-thumb:hover {
    background: rgba(180,180,180, 0.7)
}

.violationBox::-webkit-scrollbar-track {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0)
}




/* VIOLATION DATA DISPLAY STYLES */
.VDDLabel {
    font-size: 0.525rem;
}




/* CHART DISPLAY STYLES */
.chart {
    background-color: white;
    flex: auto;
    padding-bottom: 26.25px;
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.25)
}

.counter {
    background-color: white;
    padding-block: 7.5px;
    padding-inline: 6px;
    height: 47%;
    position: relative;
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.25)
}




/* MAP STYLES */
.trafficMapContainer {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
}

.trafficMap {
    width: 100%;
    height: 100%;
}



/* SUMMARY CARD STYLES */
.summaryHeader {
    color: #363636;
    opacity: 70%;
    font-size: 0.525rem;
}

.summaryContent {
    color: #363636;
    font-size: 0.45rem;
    font-weight: 700;
}





/* APPROACH CARD STYLES */
.card {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    padding-right: 0.225rem;
    padding-left: 0.225rem;
    background-color: white;
    width: 4.125rem;
    height: 3.375rem;
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.25);
    text-align: start;
    font-size: 0.375rem;
    color: #363636;
}


/* SIDEBAR STYLES  */
.sideBarIcons {
    margin-left: auto;
    margin-right: auto;
    padding: 1.5px;
}
