.boxInternalLabels {
    text-align: center;
    font-size: 13.5px;
    font-weight: 500;
}

.boxExternalLabels {
    font-size: 0.75rem;
    justify-content: center;
    font-weight: 700;
}

h3 {
    color: #4D4D4D;
}

.roads {
    color: #4D4D4D;
    font-size: 0.625rem;
    min-height: 1.5rem;
    display: flex;
    align-items: center;
}

.tlcInput {
    background: #f7f8fa;
    border: 1px solid #d5d9df;
    border-radius: 3.75px;
    width: 3rem;
    height: 1.5rem;
    text-align: center;
    color: grey;
}

.tlcInput::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

.tlcInput:hover::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
    text-align: center;
}

.tlcInput:focus::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

.sideBarOptions {
    font-size: 0.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    border-radius: 11.25px;
}

.controlWorkspace .gap-7 {
    gap: 1.3125rem;
}

.controlWorkspace .gap-3 > h1 {
    margin-bottom: 0.3rem;
}

.sideBarOptions:hover {
    background-color: rgb(201, 200, 200);
}
