.boxInternalLabels {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.boxExternalLabels {
    font-size: 13px;
    justify-content: center;
}

h3 {
    color: #4D4D4D;
}

.roads {
    color: #4D4D4D;
}

input {
    border: 1px solid black;
    width: 40%;
    text-align: center;
}

input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

input:hover::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
    text-align: center;
}

input:focus::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}